@import '../../utilities.scss';

#tags {
    margin: 1rem auto;
    background: #272727;
    width: 70%;
    padding: 0.5rem 0 0.2rem;
    border-radius: 0.5rem;
    line-height: .7;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
    h3 {
        margin: 0rem;
        padding-right: 0.7rem;
        font-weight: 300;
        color: #b0b0b0;
        font-size: 1rem;
        text-align: right;
        font-style: italic;
    }
    hr {
        margin: 0.1rem;
        margin-left: 0.67rem;
        width: 95%;
        display: inline-block;
        border: none;
        border-top: 1px solid #767676;
    }
    ul {
        @extend %flexy;
        .tag {
            input[type=button] {
                background: none!important;
                border: none;
                padding: 0!important;
                margin: 0.3rem;
                color: #b0b0b0;
                font-size: 0.8rem;
                cursor: pointer;
                &:hover {
                    color: white;
                }
            }
        }
    }
}