%skew {
    -moz-transform: rotate(40deg) skew(0deg, -40deg);
    -webkit-transform: rotate(40deg) skew(0deg, -40deg);
    -o-transform: rotate(40deg) skew(0deg, -40deg);
    -ms-transform: rotate(40deg) skew(0deg, -40deg);
    transform: rotate(45deg) skew(0deg, -45deg);
}

#welcome-banner {
    background: #1A1A1A;
    margin: 0;
    padding: 0rem 1rem 0.5rem;
    text-align: right;
    position: relative;
    height: 2rem;
    h1 {
        margin: 0;
        color: #5FB9FC;
        font-size: 1.25rem;
        font-weight: 100;
        font-style: italic;
        font-family: 'Roboto', sans-serif;
        span {
            padding-left: 0.2rem;
            padding-right: 1rem;
            font-style: normal;
            font-size: 1.4rem;
            color: #FFF;
            font-family: 'Oswald', sans-serif;
            font-weight: 200;
        }
    }
    #white-line {
        @extend %skew;
        position: absolute;
        right: 2.95rem;
        top: 1.6rem;
        width: 6.2rem;
        height: .5rem;
        border-bottom: 0.1rem solid white;
        border-right: 0.1rem solid white;
    }
}

#blue-bar {
    height: 0.1rem;
    background: rgb(0,41,74);
    background: linear-gradient(90deg, rgba(0,41,74,1) 0%, rgba(2,110,201,1) 73%, rgba(3,80,147,1) 100%);
}
