#articles-ul, #tags ul, #notes-page {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center; }

#notes-page #current-note #markdown a {
  text-decoration: underline; }
  #notes-page #current-note #markdown a:link {
    color: #253bff; }
  #notes-page #current-note #markdown a:visited {
    color: #000e91; }
  #notes-page #current-note #markdown a:hover {
    color: #e48900;
    font-style: italic; }
  #notes-page #current-note #markdown a:active {
    color: black; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#articles-ul {
  margin: 1rem auto 1rem; }
  #articles-ul .article-card {
    -moz-animation: fadein 1s;
    /* Firefox */
    -o-animation: fadein 1s;
    /* Opera */
    -webkit-animation: fadein 1s;
    /* Safari and Chrome */
    animation: fadein 1s;
    background: #272727;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 1rem;
    color: #EBEBEB;
    font-weight: 300;
    margin: 1.5rem;
    padding: 9rem 0 0;
    position: relative;
    transform: scale(1);
    transition: all 500ms;
    width: 18rem; }
    #articles-ul .article-card:hover {
      box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.9);
      transform: scale(1.01); }
    #articles-ul .article-card img {
      width: 100%;
      height: 10.5rem;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
      border-radius: 0;
      display: block;
      position: absolute;
      top: -1rem;
      left: -1rem; }
    #articles-ul .article-card h2 {
      font-weight: 300;
      margin: 1rem; }
    #articles-ul .article-card p {
      font-weight: 300;
      margin: 1rem;
      text-align: center;
      font-style: italic; }
    #articles-ul .article-card a.link {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-style: italic;
      font-size: 0.9rem;
      text-align: center;
      letter-spacing: 0.4rem;
      width: 100%;
      height: 2rem;
      background: #646464;
      border: 1px solid #939393;
      border-radius: 0 0 0.9rem 0.9rem;
      box-sizing: border-box;
      color: white;
      margin: 0 auto;
      display: block;
      font-family: Roboto;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      color: #EEE;
      padding-top: 0.5rem;
      font-weight: lighter; }
      #articles-ul .article-card a.link:hover {
        color: #e39b00;
        background: #3f3f3f; }
      #articles-ul .article-card a.link:active {
        color: #FFEF33; }

#articles-ul, #tags ul, #notes-page {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center; }

#notes-page #current-note #markdown a {
  text-decoration: underline; }
  #notes-page #current-note #markdown a:link {
    color: #253bff; }
  #notes-page #current-note #markdown a:visited {
    color: #000e91; }
  #notes-page #current-note #markdown a:hover {
    color: #e48900;
    font-style: italic; }
  #notes-page #current-note #markdown a:active {
    color: black; }

#tags {
  margin: 1rem auto;
  background: #272727;
  width: 70%;
  padding: 0.5rem 0 0.2rem;
  border-radius: 0.5rem;
  line-height: .7;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); }
  #tags h3 {
    margin: 0rem;
    padding-right: 0.7rem;
    font-weight: 300;
    color: #b0b0b0;
    font-size: 1rem;
    text-align: right;
    font-style: italic; }
  #tags hr {
    margin: 0.1rem;
    margin-left: 0.67rem;
    width: 95%;
    display: inline-block;
    border: none;
    border-top: 1px solid #767676; }
  #tags ul .tag input[type=button] {
    background: none !important;
    border: none;
    padding: 0 !important;
    margin: 0.3rem;
    color: #b0b0b0;
    font-size: 0.8rem;
    cursor: pointer; }
    #tags ul .tag input[type=button]:hover {
      color: white; }

#welcome-banner #white-line {
  -moz-transform: rotate(40deg) skew(0deg, -40deg);
  -webkit-transform: rotate(40deg) skew(0deg, -40deg);
  -o-transform: rotate(40deg) skew(0deg, -40deg);
  -ms-transform: rotate(40deg) skew(0deg, -40deg);
  transform: rotate(45deg) skew(0deg, -45deg); }

#welcome-banner {
  background: #1A1A1A;
  margin: 0;
  padding: 0rem 1rem 0.5rem;
  text-align: right;
  position: relative;
  height: 2rem; }
  #welcome-banner h1 {
    margin: 0;
    color: #5FB9FC;
    font-size: 1.25rem;
    font-weight: 100;
    font-style: italic;
    font-family: 'Roboto', sans-serif; }
    #welcome-banner h1 span {
      padding-left: 0.2rem;
      padding-right: 1rem;
      font-style: normal;
      font-size: 1.4rem;
      color: #FFF;
      font-family: 'Oswald', sans-serif;
      font-weight: 200; }
  #welcome-banner #white-line {
    position: absolute;
    right: 2.95rem;
    top: 1.6rem;
    width: 6.2rem;
    height: .5rem;
    border-bottom: 0.1rem solid white;
    border-right: 0.1rem solid white; }

#blue-bar {
  height: 0.1rem;
  background: #00294a;
  background: linear-gradient(90deg, #00294a 0%, #026ec9 73%, #035093 100%); }

#articles-ul, #tags ul, #notes-page {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center; }

#notes-page #current-note #markdown a {
  text-decoration: underline; }
  #notes-page #current-note #markdown a:link {
    color: #253bff; }
  #notes-page #current-note #markdown a:visited {
    color: #000e91; }
  #notes-page #current-note #markdown a:hover {
    color: #e48900;
    font-style: italic; }
  #notes-page #current-note #markdown a:active {
    color: black; }

#notes-page {
  justify-content: space-around; }
  #notes-page h2#title {
    font-family: Roboto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0.5rem 1rem;
    color: #EEE;
    font-weight: 100;
    font-size: 1.75rem; }
  #notes-page #current-note {
    width: 47%;
    max-width: 50rem;
    min-width: 22rem;
    flex: 1;
    margin: 1rem 0 0;
    max-height: 90vh;
    overflow: auto;
    background: #272727;
    padding: 0.25rem;
    border-radius: 0.2rem; }
    #notes-page #current-note #markdown {
      margin: 0 auto;
      overflow-x: hidden;
      background: #FFF;
      padding: 0 1rem 1rem;
      font-size: 1.1rem;
      border-radius: 0.2rem;
      /* unvisited link */ }
      #notes-page #current-note #markdown h1 > code,
      #notes-page #current-note #markdown h2 > code,
      #notes-page #current-note #markdown h3 > code,
      #notes-page #current-note #markdown h4 > code,
      #notes-page #current-note #markdown p > code,
      #notes-page #current-note #markdown li > code {
        background: #EFEFEF;
        padding: 0.1rem; }
      #notes-page #current-note #markdown h2 {
        color: #111;
        line-height: 2.5rem; }
      #notes-page #current-note #markdown ul {
        list-style: square;
        padding: 0 1rem; }
        #notes-page #current-note #markdown ul li {
          margin: 0.5rem; }
      #notes-page #current-note #markdown .hljs {
        padding: 1rem;
        border-radius: 0.2rem;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5); }
      #notes-page #current-note #markdown blockquote {
        background: #e1e1e1;
        font-style: italic;
        color: #222;
        padding: 0.25rem 0.5rem;
        border-left: .2rem solid #555;
        margin: 0; }
        #notes-page #current-note #markdown blockquote h1, #notes-page #current-note #markdown blockquote h2, #notes-page #current-note #markdown blockquote h3, #notes-page #current-note #markdown blockquote h4, #notes-page #current-note #markdown blockquote h5, #notes-page #current-note #markdown blockquote h6, #notes-page #current-note #markdown blockquote p {
          margin: 0; }
      #notes-page #current-note #markdown a {
        text-decoration: underline; }
  #notes-page #note-titles {
    background: #272727;
    border-radius: 1rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    color: #EBEBEB;
    font-weight: 300;
    margin: 1.5rem;
    width: 18rem;
    max-height: 40rem;
    overflow: auto; }
    #notes-page #note-titles h2 {
      font-family: Roboto;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      margin: 1rem 1rem 0;
      color: #EEE;
      font-weight: 100;
      font-size: 1.75rem; }
    #notes-page #note-titles hr {
      margin: .5rem 0 0;
      width: 95%;
      display: inline-block;
      border: none;
      border-top: 1px solid #939393; }
    #notes-page #note-titles ul {
      padding: 0 0.25rem; }
      #notes-page #note-titles ul .note-title {
        text-align: center; }
        #notes-page #note-titles ul .note-title hr {
          margin: 1rem auto;
          width: 80%;
          display: block;
          border: none;
          border-top: 1px solid #939393; }
        #notes-page #note-titles ul .note-title a {
          display: inline-block;
          width: 80%;
          font-size: 1.5rem;
          letter-spacing: 0.2rem;
          font-weight: 100;
          text-decoration: none; }
          #notes-page #note-titles ul .note-title a:link {
            color: #FFF; }
          #notes-page #note-titles ul .note-title a:visited {
            color: #FFF; }
          #notes-page #note-titles ul .note-title a:hover {
            color: #e48900;
            font-style: italic; }
          #notes-page #note-titles ul .note-title a:active {
            color: #BBB; }
  #notes-page #table-of-contents {
    background: #272727;
    border-radius: 1rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    color: #EBEBEB;
    font-weight: 300;
    margin: 1.5rem;
    width: 18rem; }
    #notes-page #table-of-contents h2 {
      font-family: Roboto;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      margin: 1rem 1rem 0;
      color: #EEE;
      font-weight: 100;
      font-size: 1.75rem; }
    #notes-page #table-of-contents ul {
      list-style-type: none;
      padding: 0;
      max-height: 60vh;
      overflow: scroll;
      background: #101010; }
      #notes-page #table-of-contents ul .padding-lvl-1 {
        padding-left: 0;
        font-size: 1.5rem;
        font-weight: bold; }
      #notes-page #table-of-contents ul .padding-lvl-2 {
        padding-left: 1rem;
        font-size: 1.1rem;
        font-style: italic; }
      #notes-page #table-of-contents ul .padding-lvl-3 {
        padding-left: 2rem;
        font-size: .9rem; }
        #notes-page #table-of-contents ul .padding-lvl-3::before {
          content: "- "; }
      #notes-page #table-of-contents ul li {
        display: block;
        margin: 1rem; }
        #notes-page #table-of-contents ul li a:hover {
          text-decoration: none; }
          #notes-page #table-of-contents ul li a:hover:link {
            color: #FFF; }
          #notes-page #table-of-contents ul li a:hover:visited {
            color: #FFF; }
          #notes-page #table-of-contents ul li a:hover:hover {
            color: #e48900;
            font-style: italic; }
          #notes-page #table-of-contents ul li a:hover:active {
            color: #BBB; }

ul {
  list-style: none;
  padding: 0; }

html, body {
  font-family: 'Roboto', sans-serif; }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 16px;
  background: url("/images/skyline.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch; }

textarea {
  width: 80%;
  height: 80vh; }

a {
  text-decoration: none;
  color: inherit; }

#raw-text-input {
  width: 50%;
  height: 20vh; }

form {
  display: block;
  width: 25%;
  min-width: 20rem;
  max-width: 30rem;
  margin: 1rem auto;
  border: 1px solid #939393;
  border-radius: 1rem;
  padding-top: 0;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  background: #272727;
  line-height: 0.75; }
  form label, form p {
    font-family: Roboto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding-left: 0.9rem;
    color: #EEE;
    font-weight: lighter;
    font-size: 1.5rem; }
  form select {
    box-shadow: none;
    -webkit-appearance: none;
    -webkit-background: #EEE;
    background: #EEE;
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    display: block;
    margin: 1rem auto;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: Roboto, sans-serif; }
  form input[type=button] {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 0.9rem;
    text-align: center;
    letter-spacing: 0.4rem;
    width: 100%;
    height: 2rem;
    background: #646464;
    border: none !important;
    border-top: 1px solid #939393 !important;
    border-radius: 0 0 0.9rem 0.9rem !important;
    box-sizing: border-box;
    color: white;
    margin: 0 auto;
    display: block; }
    form input[type=button]:hover {
      color: #e39b00;
      background: #3f3f3f; }
    form input[type=button]:active {
      color: #FFF;
      background: #646464; }
  form hr {
    margin: .5rem 0 0;
    width: 95%;
    display: inline-block;
    border: none;
    border-top: 1px solid #939393; }

/*# sourceMappingURL=App.css.map */
