#articles-ul, #tags-ul {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center; }

#tags-ul .tag-li input[type=button], form input[type=button] {
  background: #5CA6E5;
  color: white;
  border: none;
  border-radius: 2rem;
  padding: .3rem .7rem;
  margin: 0.25rem;
  transition: background 150ms; }
  #tags-ul .tag-li input[type=button]:hover, form input[type=button]:hover {
    background: #1D88E3; }
  #tags-ul .tag-li input[type=button]:active, form input[type=button]:active {
    background: #6EB0E8; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#articles-ul {
  margin: 1rem auto 2rem; }
  #articles-ul .post-li {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    margin: 1rem;
    width: 20rem;
    min-height: 26rem;
    position: relative;
    transform: scale(1);
    animation: fadein 1s;
    transition: all 500ms;
    box-sizing: border-box;
    overflow: hidden;
    background: #EEE;
    -moz-animation: fadein 1s;
    /* Firefox */
    -webkit-animation: fadein 1s;
    /* Safari and Chrome */
    -o-animation: fadein 1s;
    /* Opera */ }
    #articles-ul .post-li:hover {
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5); }
    #articles-ul .post-li img {
      width: 100%;
      height: 11rem;
      display: block;
      margin: 0 auto 1rem; }
    #articles-ul .post-li h2 {
      font-weight: 400;
      margin: 1rem; }
    #articles-ul .post-li p {
      font-weight: 200;
      margin: 1rem;
      text-align: center; }
    #articles-ul .post-li a.link {
      font-style: italic;
      text-align: center;
      display: block;
      margin: 0 auto;
      transition: all 150ms; }
      #articles-ul .post-li a.link:link {
        color: #5CA6E5; }
      #articles-ul .post-li a.link:visited {
        color: #5CA6E5; }
      #articles-ul .post-li a.link:hover {
        color: #e39b00; }
      #articles-ul .post-li a.link:active {
        color: #FFEF33; }

#articles-ul, #tags-ul {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center; }

#tags-ul .tag-li input[type=button], form input[type=button] {
  background: #5CA6E5;
  color: white;
  border: none;
  border-radius: 2rem;
  padding: .3rem .7rem;
  margin: 0.25rem;
  transition: background 150ms; }
  #tags-ul .tag-li input[type=button]:hover, form input[type=button]:hover {
    background: #1D88E3; }
  #tags-ul .tag-li input[type=button]:active, form input[type=button]:active {
    background: #6EB0E8; }

#tags-ul {
  border-top: 0.1rem solid #AAA;
  width: 90%;
  margin: 1rem auto;
  padding: 0.5rem; }

#welcome-banner {
  background: #000;
  background-color: #05001c;
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: right;
  border-bottom: 0.1rem solid #CCC; }
  #welcome-banner h1 {
    margin: 0;
    color: #FFF;
    font-size: 2rem;
    font-weight: 100; }
  #welcome-banner p {
    margin: 1rem 0;
    font-size: 1.25rem;
    color: #EEE;
    font-weight: 100; }

ul {
  list-style: none;
  padding: 0; }

html, body, form label, form p {
  font-family: sans-serif; }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 16px;
  background: url("/images/skyline.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

textarea {
  width: 80%;
  height: 80vh; }

a {
  text-decoration: none;
  color: inherit; }

#raw-text-input {
  width: 50%;
  height: 20vh; }

form {
  display: block;
  width: 100%;
  width: 30%;
  min-width: 20rem;
  margin: 1rem auto;
  padding: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  background: #000;
  background-color: rgba(8, 0, 45, 0.8); }
  form label, form p {
    display: block;
    margin: 0 auto;
    padding: 0;
    color: #EEE;
    font-weight: 100;
    text-align: center;
    font-size: 1.4rem; }
  form p {
    width: 80%;
    margin-bottom: 1rem; }
  form select {
    box-shadow: none;
    -webkit-background: #EEE;
    background: #EEE;
    border: none;
    border-radius: 0;
    padding: 0.5rem;
    -moz-text-align-last: center;
    text-align-last: center;
    display: block;
    margin: 1rem auto;
    font-size: 1.5rem; }
  form input[type=button] {
    font-size: 1.25rem;
    margin: 1rem auto;
    display: block; }

/*# sourceMappingURL=App.css.map */
