@import './components/Articles/styles.scss';
@import './components/Tags/styles.scss';
@import './components/WelcomeBanner/styles.scss';


ul {
    list-style: none;
    padding: 0;
}

%font {
    font-family: 'Roboto', sans-serif;;
}

html, body {
    @extend %font;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 16px;
    background: url('/images/skyline.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

textarea {
    width: 80%;
    height: 80vh;
}

a {
    text-decoration: none;
    color: inherit;
}

#raw-text-input {
    width: 50%;
    height: 20vh;
}

form {
    display: block;
    width: 30%;
    min-width: 20rem;
    margin: 1rem auto;
    border: 0.1rem solid #939393;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, .5);
    background: #272727;
    label, p {
        font-family: Roboto;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: block;
        margin: 0 auto;
        padding: 0;
        color: #EEE;
        font-weight: lighter;
        text-align: center;
        font-size: 1.5rem;
    }
    select {
        box-shadow: none;
        -webkit-appearance: none;
        -webkit-background: #EEE;
        background: #EEE;
        border: none;
        border-radius: 0;
        padding: 0.5rem;
        display: block;
        margin: 0.5rem auto;
        font-size: 1.5rem;
    }
    input[type=button] {
        @extend %basic-button;
        font-size: 1.25rem;
        margin: 1rem auto;
        display: block;
    }
}