#articles-ul, #tags-ul {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center; }

#tags-ul .tag-li input[type=button] {
  -webkit-appearance: none;
  background: #5CA6E5;
  color: white;
  border: none;
  border-radius: 2rem;
  padding: .3rem .7rem;
  margin: 0.25rem; }
  #tags-ul .tag-li input[type=button]:hover {
    background: #1D88E3; }
  #tags-ul .tag-li input[type=button]:active {
    background: #6EB0E8; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#articles-ul {
  margin: 1rem auto 1rem; }
  #articles-ul .post-li {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    margin: 1rem;
    width: 18rem;
    min-height: 20rem;
    position: relative;
    transform: scale(1);
    animation: fadein 1s;
    transition: all 500ms;
    box-sizing: border-box;
    overflow: hidden;
    background: #EEE;
    -moz-animation: fadein 1s;
    /* Firefox */
    -webkit-animation: fadein 1s;
    /* Safari and Chrome */
    -o-animation: fadein 1s;
    /* Opera */ }
    #articles-ul .post-li:hover {
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5); }
    #articles-ul .post-li img {
      width: 100%;
      display: block;
      margin: 0 auto 1rem; }
    #articles-ul .post-li h2 {
      font-weight: 400;
      margin: 1rem; }
    #articles-ul .post-li p {
      font-weight: 200;
      margin: 1rem;
      text-align: center; }
    #articles-ul .post-li a.link {
      font-style: italic;
      text-align: center;
      display: block;
      margin: 0 auto;
      transition: all 150ms; }
      #articles-ul .post-li a.link:link {
        color: #5CA6E5; }
      #articles-ul .post-li a.link:visited {
        color: #5CA6E5; }
      #articles-ul .post-li a.link:hover {
        color: #e39b00; }
      #articles-ul .post-li a.link:active {
        color: #FFEF33; }

#articles-ul, #tags-ul {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center; }

#tags-ul .tag-li input[type=button] {
  -webkit-appearance: none;
  background: #5CA6E5;
  color: white;
  border: none;
  border-radius: 2rem;
  padding: .3rem .7rem;
  margin: 0.25rem; }
  #tags-ul .tag-li input[type=button]:hover {
    background: #1D88E3; }
  #tags-ul .tag-li input[type=button]:active {
    background: #6EB0E8; }

#tags-ul {
  border-top: 0.1rem solid #AAA;
  width: 90%;
  margin: 1rem auto;
  padding: 0.5rem; }

#welcome-banner #white-line {
  -moz-transform: rotate(40deg) skew(0deg, -40deg);
  -webkit-transform: rotate(40deg) skew(0deg, -40deg);
  -o-transform: rotate(40deg) skew(0deg, -40deg);
  -ms-transform: rotate(40deg) skew(0deg, -40deg);
  transform: rotate(45deg) skew(0deg, -45deg); }

#welcome-banner {
  background: #1A1A1A;
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: right;
  position: relative;
  height: 2.75rem; }
  #welcome-banner h1 {
    margin: 0;
    color: #5FB9FC;
    font-size: 1.25rem;
    font-weight: 100;
    font-style: italic;
    font-family: 'Roboto', sans-serif; }
    #welcome-banner h1 span {
      padding-left: 0.2rem;
      padding-right: 1rem;
      font-style: normal;
      font-size: 1.5rem;
      color: #FFF;
      font-family: 'Oswald', sans-serif;
      font-weight: 200; }
  #welcome-banner #white-line {
    position: absolute;
    right: 2.95rem;
    top: 2.3rem;
    width: 6.5rem;
    height: .5rem;
    border-bottom: 0.1rem solid white;
    border-right: 0.1rem solid white; }

#blue-bar {
  height: 0.25rem;
  background: #00294a;
  background: linear-gradient(90deg, #00294a 0%, #026ec9 73%, #035093 100%); }

ul {
  list-style: none;
  padding: 0; }

html, body {
  font-family: 'Roboto', sans-serif; }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 16px;
  background: url("/images/skyline.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch; }

textarea {
  width: 80%;
  height: 80vh; }

a {
  text-decoration: none;
  color: inherit; }

#raw-text-input {
  width: 50%;
  height: 20vh; }

form {
  display: block;
  width: 25%;
  min-width: 20rem;
  max-width: 30rem;
  margin: 1rem auto;
  border: 1px solid #939393;
  border-radius: 1rem;
  padding-top: 0;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  background: #272727;
  line-height: 0.75; }
  form label, form p {
    font-family: Roboto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding-left: 0.9rem;
    color: #EEE;
    font-weight: lighter;
    font-size: 1.5rem; }
  form select {
    box-shadow: none;
    -webkit-appearance: none;
    -webkit-background: #EEE;
    background: #EEE;
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    display: block;
    margin: 1rem auto;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: Roboto, sans-serif; }
  form input[type=button] {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 0.9rem;
    text-align: center;
    letter-spacing: 0.4rem;
    width: 100%;
    height: 2rem;
    background: #646464;
    border: none;
    border-top: 1px solid #939393;
    border-radius: 0 0 0.9rem 0.9rem;
    box-sizing: border-box;
    color: white;
    margin: 0 auto;
    display: block; }
  form hr {
    margin: .5rem 0 0;
    width: 95%;
    display: inline-block;
    border: none;
    border-top: 1px solid #939393; }

/*# sourceMappingURL=App.css.map */
