$bor: 2px solid black;
$col: green;
%flexy {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

%basic-button {
    -webkit-appearance: none;
    background: #5CA6E5;
    color: white;
    border: none;
    border-radius: 2rem;
    padding: .3rem .7rem;
    margin: 0.25rem;
    &:hover {
        background: #1D88E3;
    }
    &:active {
        background: #6EB0E8;
    }
}