@import '../../utilities.scss';

#notes-page {
    @extend %flexy;
    justify-content: space-around;
    h2#title {
        font-family: Roboto;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        margin: 0.5rem 1rem;
        color: #EEE;
        font-weight: 100;
        font-size: 1.75rem;
    }
    #current-note {
        width: 47%;
        height: 80vh;
        max-width: 50rem;
        min-width: 22rem;
        flex: 1;
        margin: 1rem 0 0;
        height: 90vh;
        overflow: auto;
        background:#272727;
        padding: 0.25rem;
        border-radius: 0.2rem;
        #markdown {
            margin: 0 auto;
            overflow-x: hidden;
            background: #FFF;
            padding: 0 1rem 1rem;
            font-size: 1.1rem;
            border-radius: 0.2rem;
            h1 > code,
            h2 > code,
            h3 > code,
            h4 > code,
            p > code,
            li > code {
                background: #EFEFEF;
                padding: 0.1rem;
            }
            h2 {
                color:#111;
                line-height: 2.5rem;
            }
            li {
                margin: 0.5rem;
            }
            .hljs {
                padding: 1rem;
                border-radius: 0.2rem;
                box-shadow: 0.25rem 0.25rem 0.5rem rgba(0,0,0,.5);
            }
            blockquote {
                background: rgb(225, 225, 225);
                font-style: italic;
                color: #222;
                padding: 0.25rem 0.5rem;
                border-left: .2rem solid #555;
                margin: 0;
                h1, h2, h3, h4, h5, h6, p {
                    margin: 0;
                }
            }
            /* unvisited link */
            a {
                text-decoration: underline;
                @extend %text-link;
            }

        }
    }

    #note-titles {
        background:#272727;
        border-radius: 1rem;
        box-shadow: 10px 10px 10px rgba(0,0,0,.5);
        color: #EBEBEB;
        font-weight: 300;
        margin: 1.5rem;
        width: 18rem;
        max-height: 40rem;
        overflow: auto;
        h2 {
            font-family: Roboto;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            margin: 1rem 1rem 0;
            color: #EEE;
            font-weight: 100;
            font-size: 1.75rem;
        }
        hr {
            margin: .5rem 0 0;
            width: 95%;
            display: inline-block;
            border: none;
            border-top: 1px solid #939393;
        }
        ul {
            padding: 0 0.25rem;
            .note-title {
                text-align: center;
                hr {
                    margin: 1rem auto;
                    width: 80%;
                    display: block;
                    border: none;
                    border-top: 1px solid #939393;
                }
                a {
                    display: inline-block;
                    width: 80%;
                    font-size: 1.5rem;
                    letter-spacing: 0.2rem;
                    font-weight: 100;
                    @include link-colors(none, #FFF, #FFF, rgb(228, 137, 0), #BBB)
                }
            }
        }
    }

    #table-of-contents {
        background:#272727;
        border-radius: 1rem;
        box-shadow: 10px 10px 10px rgba(0,0,0,.5);
        color: #EBEBEB;
        font-weight: 300;
        margin: 1.5rem;
        width: 18rem;
        h2 {
            font-family: Roboto;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            margin: 1rem 1rem 0;
            color: #EEE;
            font-weight: 100;
            font-size: 1.75rem;
        }
        ul {
            list-style-type: none;
            padding: 0;
            max-height: 60vh;
            overflow: scroll;
            background: #101010;
            .padding-lvl-1 {
                padding-left: 0;
                font-size: 1.5rem;
                font-weight: bold;
            }
            .padding-lvl-2 {
                padding-left: 1rem;
                font-size: 1.1rem;
                font-style: italic;
            }
            .padding-lvl-3 {
                padding-left: 2rem;
                font-size: .9rem;
                &::before {
                    content: "- "
                }
            }
            li {
                display: block;
                margin: 1rem;
                a {
                    &:hover {
                        @include link-colors(none, #FFF, #FFF, rgb(228, 137, 0), #BBB)
                    }
                }
            }
        }
    }
}


